 <style>
  .container {
    padding: 80px 120px;
  }
  .carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(10%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
  }
 
   #googleMap {
    width: 100%;           /* very important */
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }  
  .navbar {
    margin-bottom: 0;
    background-color: purple;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  
  </style>
</head>
<body>
